body {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2vw;
}
section {
    background-color: rgba(128, 128, 128, 0.329);
    border-radius: 2%;
    padding: 5px 5px 50px 5px;
}


h1 {
    text-align: center;
    font-size: 40px;
    margin: 10px 10px;
    font-family: impact, charcoal, sans-serif;
}
h4 {
    text-align: center;
    margin: 5px 5px;
}

label {
    padding-left: 10px;
    font-size: 15px;
    text-align: left;
    width: 100%;
}
input {
    width: 90%;
    margin: 10px 5px 10px 2px;
}


button {
    position: absolute;
    right: 5%;
    margin: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: rgba(112, 179, 233, 0.56);
    border: 2px solid rgba(0, 0, 6, 0.74);
    border-radius: 5px;
    font-size: 20px;
}

.del {
    position: absolute;
    bottom: 0.2rem;
    right: 0.2rem;
    color:#fff;
    opacity: 10%;
    background-color: rgba(111, 101, 101, 0.379);
    font-size: 25px;
    border:white 1px solid;
    padding: 5px 8px;
    margin: 5px 5px;

}

.meme {
    position: relative;
    display: inline-block;
    margin: 20px 30px;
}

h3 {
    position: absolute;
    font-family: impact;
    text-align: center;
    width: 100%;
    height: auto;
    text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;
    margin: 3px 3px 3px 3px;
    text-overflow: string;
    font-size: 1.3rem;
}

.topText {
    top: 2px;
}

.bottomText {
    bottom: 4px;
}

img {
    height: 300px;
    width: auto ;
}
img:hover {
    border: 1px 1px 10px #fff, 1px 1px 10px #ccc;
}

.del:hover {
    opacity: 100%;
    text-shadow:1px 1px 10px rgba(60, 24, 24, 0.3), 1px 1px 10px #ccc;
}
